Options -Indexes

<IfModule mod_headers.c>
  <FilesMatch "\.(glb)$">
    Header set X-Robots-Tag "noindex, nofollow, noarchive"
    Header set Cache-Control "public, max-age=31536000, immutable"
  </FilesMatch>
</IfModule>
